@model IEnumerable<gestionBanquierFront.Models.Credit>

@{
    ViewBag.Title = "Index";
}


<head>

    @Scripts.Render("~/Content/js/datatables-simple-demo.js")

</head>


<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">

            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Gestion des crédits
                </div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.dureeCredit)</th>
                                <th> @Html.DisplayNameFor(model => model.montant)</th>
                                <th> @Html.DisplayNameFor(model => model.tauxInteret)</th>
                                <th> @Html.DisplayNameFor(model => model.typeclt)</th>
                                <th>@Html.DisplayNameFor(model => model.salaire)</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.dureeCredit)</th>
                                <th> @Html.DisplayNameFor(model => model.montant)</th>
                                <th> @Html.DisplayNameFor(model => model.tauxInteret)</th>
                                <th> @Html.DisplayNameFor(model => model.typeclt)</th>
                                <th> @Html.DisplayNameFor(model => model.salaire)</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>

                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>  @Html.DisplayFor(modelItem => item.dureeCredit)</td>
                                        <td> @Html.DisplayFor(modelItem => item.montant)</td>
                                        <td> @Html.DisplayFor(modelItem => item.tauxInteret)</td>
                                        <td> @Html.DisplayFor(modelItem => item.typeclt)</td>
                                        <td>  @Html.DisplayFor(modelItem => item.salaire)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.id })
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

</div>